* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $white;
}

audio {
    width: 20%;
}

//Container to store header and the different scenes
.container {
    display: flex;
    flex-direction: column;  
}

.header {
    background-image: url("/assets/images/titleCard.jpg");
    width: $width100;
    height: $height100;
    position: $position-relative;
    overflow: $overflowHidden;
    background-size: $backgroundCover;
    background-repeat: $background-no-repeat;
}

.header__wave {
    position: $position-absolute;
    bottom: 0;
    height: 35%;
    animation: header-wave ease-in-out 20s;
    animation-iteration-count: $iterationInfinite;
}

.header__div {
    padding-top: 1%;
    padding-left: 1%;
    
    
    #{&}__h2 {
        padding-left: 1%;
        font-family: $primary-font;
    }
}

@keyframes header-wave {
    0% {
        left: -20%;
    }
    50% {
        left: 0;
    }
    100% {
        left: -20%;
    }
}

.scene {
    width: $width100;
    height: auto;
}

.scene1__section, .scene2__section, .scene3__section, .scene4__section, .scene5__section  {
    font-family: $primary-font;
    color: $dark;
    font-size: 1.1em;
    }
    
//Scene1 start
.scene1__section {
    .scene1__wrapper{
        background-image: url("/assets/images/scene1.jpg");
        background-size: $backgroundCover;
        position: $position-relative;
        width: $width100;
        height: $height100;
        overflow: $overflowHidden;
        .scene1__wrapper__div {
            padding-top: 1%;
            padding-left: 1%;
            .scene1__wrapper__div__h2 {
                padding-left: 1%;
            }
        }
    }

    


    .scene1__waveSvg {
        position: $position-absolute;
        width: 25%;
        z-index: 1;
        left: 10%;
        top: 48%;
        animation: wave__scene1__animation 20s ease-in-out;
        animation-iteration-count: $iterationInfinite;
    }

    @keyframes wave__scene1__animation {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .scene1__lyrics {
        position: $position-absolute;
        font-size: 150%;
        top: 90%;
        animation-direction: alternate-reverse 3s infinite;
        animation: scene1 25s linear;
        max-width: 100%;
        opacity: 0;
        animation-iteration-count: $iterationInfinite;
    }

    @keyframes scene1 {
        0% {
            transform: translateX(110%);
            opacity: 100%;
        }
        100% {
            transform: translateX(-100%);
            opacity: 100%;
        }
    }

    .scene1__img {
        width: $width100;
    }
}

//Scene2 start
.scene2__section {
    .scene2__wrapper {
        background-image: url("/assets/images/scene2.jpg");
        background-size: $backgroundCover;
        background-repeat: $background-no-repeat;
        overflow: $overflowHidden;
        position: $position-relative;
        height: $height100;
        width: $width100;

        .scene2__wrapper__div {
            padding-top: 1%;
            padding-left: 1%;
            .scene2__wrapper__div__h2 {
                padding-left: 1%;
            }
        }
    }

    .scene2__lyrics {
        position: $position-absolute;
        left: -45%;
        top: 60%;
        animation: scene2-animation 30s linear;
        animation-iteration-count: infinite;
        transform: rotate(-10deg);
    }
    
    @keyframes scene2-animation {
        0% {
            font-size: 150%;
        }

        50% {
            font-size: 150%;
            left: 25%;
            top: 47.5%;
            opacity: 100%;
        }

        75% {
            font-size: 100%;
            opacity: 75%;
            left: 50%;
            top: 35%;
        }

        100% {
            opacity: 0;
            left: 50%;
            top: 35%;
            font-size: 0;
        }
        
    }

}

.scene3__section{
    .scene3__wrapper{
        background-image: url("/assets/images/scene3.jpg");
        background-size: $backgroundCover;
        background-repeat: $background-no-repeat;
        overflow: $overflowHidden;
        position: $position-relative;
        width: $width100;
        height: $height100;

        .scene3__wrapper__div {
            padding-top: 1%;
            padding-left: 1%;
            .scene3__wrapper__div__h2 {
                padding-left: 1%;
            }
        }
    }
    
    .scene3__lyrics{
        position: $position-absolute;
        left: 17%;
        top: 65%;
        animation: scene3-animation linear 20s;
        transform: rotate(-90deg);
        font-size: 150%;
        text-align: center;
        opacity: 0%;
        animation-iteration-count: $iterationInfinite;
    }

    @keyframes scene3-animation{
        0%{
            opacity: 0%;
            
        }

        25% {
            opacity: 25%;
            transform: rotate(-45deg);
            left: 17%;
            top: 27.5%;
        }

        50% {
            opacity: 100%;
            transform: rotate(0deg);
            left: 42%;
            top: 10%;
        }

        75% {
            opacity: 25%;
            transform: rotate(45deg);
            left: 67%;
            top: 27.5%;
        }

        100%{
            opacity: 0%;
            transform: rotate(90deg);
            left: 67%;
            top: 65%;
            
        }
    }
}

.scene4__section{

    .scene4__wrapper{
        background-image: url("/assets/images/scene4.jpg");
        position: $position-relative;
        background-size: $backgroundCover;
        background-repeat: $background-no-repeat;
        overflow: $overflowHidden;
        height: $height100;
        width: $width100;

        .scene4__wrapper__div {
            padding-top: 1%;
            padding-left: 1%;
            .scene4__wrapper__div__h2 {
                padding-left: 1%;
            }
        }
    }
    
    .scene4__lyrics{
        position: $position-absolute;
        left: 60%;
        top: 30%;
        opacity: 0;
        animation: scene4-animation1 ease-in-out 15s;
        animation-iteration-count: $iterationInfinite;
    }

    @keyframes scene4-animation1 {
        0%{
            opacity: 100%;
        }

        50% {
            opacity: 100%;
            font-size: 150%;
        }

        100%{
            opacity: 0%;
        }
    }
}

.scene5__section{
    .scene5__wrapper{
        background-image: url("/assets/images/scene5.jpg");
        position: $position-relative;
        background-size: $backgroundCover;
        background-repeat: $background-no-repeat;
        overflow: $overflowHidden;
        height: $height100;
        width: $width100;

        .scene5__wrapper__div {
            padding-top: 1%;
            padding-left: 1%;
            .scene5__wrapper__div__h2 {
                padding-left: 1%;
            }
        }
    }

    .scene5__lyrics{
        position: $position-absolute;
        left: 55%;
        top: 30%;
        transform: rotate(-30deg);
        animation: scene5-animation ease-in-out 10s;
        animation-iteration-count: $iterationInfinite;
    }

    @keyframes scene5-animation {
        0%{
            opacity: 100%;
            
        }
        100%{
            opacity: 0%;
            
            font-size: 250%;
        }
    }
}


//Media Q
@mixin small-screen {
    @media screen and (max-width: 1080px) {
    @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 900px) {
    @content;
    }
}

@mixin phone {
    @media screen and (max-width: 600px) {
    @content;
    }
}



 