//storing the colors in variables
$lightGrey: #eeeeee;
$dark: #000000;
$white: #ffffff;

//Often used variables:
$width100: 100%;
$height100: 100vh;
$backgroundCover: cover;
$background-no-repeat: no-repeat;
$position-relative: relative;
$position-absolute: absolute;
$overflowHidden: hidden;
$iterationInfinite: infinite;


